body{
    font-family:'Segoe UI',sans-serif;
    background-color: #fff8dc;
    color:#222;
    padding:20px;
    text-align:center;
}

h1{
    font-size:42px;
    color:#010912;
}
.poster{
    width:40%;
    max-width: 300px;
    border:4px solid #ccc;
    border-radius: 10px;
    margin:20px auto;
    display:block;
}

h2{
    font-size:24px;
    color:#555;
    margin-bottom: 10px;
}

p{
    font-size:18px;
    line-height:1.6;
    max-width: 700px;
    margin: 0 auto 15px;
}

.rating{
    font-size:20px;
    color:#07c699;
    font-weight: bold;
}
.watch-btn, .back-btn, .toggle-btn,.trailer-link {
    display: inline-block;
    background-color: #071a2d;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .watch-btn:hover, .back-btn:hover, .trailer-link:hover {
    background-color: #1b4f72;
  }
  